.mainContentBox {
    width: 100vw;
}

.text {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 2.4rem;
    margin-top: 10vh;
}

@media screen and (min-width: 768px) {
    .text {
        width: 95vw;
        font-size: 3.2rem;
        margin: 15vh auto;
    }
}

@media screen and (min-width: 1024px) {
    .text {
        width: 80vw;
    }
}
