/*Mobile Screens*/
.submitArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
    gap: 6vh;
}

.inputBox {
    width: fit-content;
}

.input {
    width: 70vw;
    height: 5vh;
    border-radius: 10px;
    font-size: 1.6rem;
    padding-left: 4vw;
    border: none;
    outline: none;
}

.input:focus {
    border: none;
}

.submitButton {
    display: none;
}

.mobileSubmitButton {
    width: 60vw;
    height: 8vh;
    background-color: #5e408f;
    border: 3px solid white;
    border-radius: 10px;
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

/*Tablet Screens*/
@media screen and (min-width: 768px) {
    .submitArea {
        margin-top: 0vh;
    }

    .input {
        width: 60vw;
        height: 6vh;
        font-size: 2rem;
        padding-left: 2vw;
    }

    .mobileSubmitButton {
        width: 45vw;
    }
}

/*Computer Screens*/
@media screen and (min-width: 1024px) {
    .inputBox {
        display: flex;
        border: 2px solid white;
        border-radius: 10px;
        background-color: white;
    }

    .input {
        width: 40vw;
        border-radius: 10px 0px 0px 10px;
        padding-left: 1vw;
        height: 8vh;
    }

    .input:hover {
        cursor: pointer;
    }

    .input:focus {
        cursor: default;
    }
    
    .submitButton {
        display: block;
        background-color: #7E56C2;
        width: 10vw;
        border-radius: 10px;
        color: white;
        font-weight: bold;
        transition: background-color 0.5s;
    }

    .submitButton:hover {
        cursor: pointer;
        background-color: #5e408f;
        transition: background-color 0.5s
    }

    .submitButton:disabled {
        background-color: #7E56C2;
        cursor: not-allowed;
    }

    .mobileSubmitButton {
        display: none;
    }
}
